.menu ul{
    text-align: center;
}

.food-search input[type="search"]{
    width: 90%;
    padding: 2%;
    margin-bottom: 3%;
}

.btn{
    width: 91%;
    padding: 2%;
}

.food-search{
    padding: 10% 0;
}

.categories{
    padding: 20% 0;
}
h2{
    margin-bottom: 10%;
}
.box-3{
    width: 100%;
    margin: 4% auto;
}

.food-menu{
    padding: 20% 0;
}

.food-menu-box{
    width: 90%;
    padding: 5%;
    margin-bottom: 5%;
}
.social{
    padding: 5% 0;
}
.order{
    width: 100%;
}